<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Expenses - Spring Boot Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div th:replace="fragments/header :: logo" />
            <div th:replace="fragments/header :: navbar" />
			<div th:replace="fragments/sidebar :: navigation" />
        </nav>
		
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add new expense</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Type expense data below
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form th:action="@{/new-expense}" th:object="${expense}" role="form" method="post">
                                        <div th:class="${#fields.hasErrors('date')}? 'form-group has-error' : form-group">
                                            <label class="control-label">Expense date</label>
                                            <input id="date-fied" class="form-control" placeholder="YYYY-MM-DD HH:MM" th:field="*{date}">
                                            <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Incorrect date</p>
                                        </div>
                                        <div th:class="${#fields.hasErrors('amount')}? 'form-group has-error' : form-group">
                                            <label class="control-label">Amount</label>
                                            <div class="input-group">
                                            	<input class="form-control" placeholder="75,50" th:field="*{amount}">
                                            	<span class="input-group-addon">$</span>
                                            </div>
                                            <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount invalid</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Currency</label>
                                            <select class="form-control" th:field="*{currency}">
                                                <option th:each="currency : ${currencies}" 
                                                		th:text="${currency}"
                                                		th:value="${currency}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" th:field="*{category}">
                                                <option th:each="category : ${categories}" 
                                                		th:text="${category}"
                                                		th:value="${category}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Name/Description</label>
                                            <textarea class="form-control" rows="2" th:field="*{name}"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Add new expense</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
